[href="https://www2.ucsm.edu.pe/ciencias-e-ingenierias/ingenieria-de-sistemas/"]{
    color: aqua;
}

[href="https://www2.ucsm.edu.pe/ciencias-e-ingenierias/ingenieria-de-minas/"]{
    color: aqua;
}

[href="https://www2.ucsm.edu.pe/ciencias-de-la-salud/medicina-humana/"]{
    color: violet;
}

[href="https://www2.ucsm.edu.pe/ciencias-de-la-salud/odontologia/"]{
    color: blue;
}

        